.form {
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    margin: 0 2rem;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

form input {
    width: 80%;
    height: 10%;
    border-radius: 0.5rem;
    border: none;
}

form input[type="submit"] {
    width: 40%;
    background-color: orange;
}

form input[type="submit"]:hover {
    cursor: pointer;
}