*{
  margin:0 ;
}
.container{

  background-color: rgb(167, 165, 165);
  height:300px;
  color:black;
}
#title{
  border: 1px solid white;
  height: 100px;
  text-align: center;
  background-color:rgb(57, 57, 57);
  color: white;
}