*{
  margin:0 ;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(167, 165, 165);
  height:300px;
  color:black;
}
#title{
  border: 1px solid white;
  height: 100px;
  text-align: center;
  background-color:rgb(57, 57, 57);
  color: white;
}
#button{
  padding: 1rem 4rem;
  border: none;
  border-radius: 1rem;
  font-size:1.3rem;
  color: white;
  margin-top: 2rem;
  background-color: blue;
}